# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   3d;
    application/javascript     3d;
    ~image/                    1d;
}


server {
    # gzip config
    gzip on;
    gunzip on;
    gzip_vary on;
    gzip_proxied no-cache no-store private expired auth;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    client_max_body_size 25M;
    # cache configurations
    expires $expires;

    server_name devapi.mrktyz.advertyzement.com;

    location = /robots.txt { return 200 "User-agent: *\nDisallow: /\n"; }
    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        gzip_static on;
        autoindex on;
        root /var/www/biztyz/mktyz_api_server;
    }

    location / {
        gzip_static on;
        include proxy_params;
        proxy_pass http://unix:/run/mktyz_gunicorn.sock;
    }
}