<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
     	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     	<title>Thank your brand for building tyz!</title>
     	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    	<!--[if true]>
	    	<table>
				<tr>
					<td align="center">
		<![endif]-->

		<div>
			<br/>
            Hi {{ name }},
            <br/><br/>
            Welcome to Advertyzement!
            <br/><br/>
            Today you begin your journey by refreshing your brand. Tyz is a way to tie your audiences with advertising. Tyz thank you for thanking every one of your customers with branded content. We help you discover the most relevant media to create amazing content for your business. When every piece of your content builds tyz with your audience you add value with Advertyzement. And we support your ability to create delightfully engaging experiences with your brand. Keep branding, keep on adding, and when go for tyz go with Advertyzement.
            <br/><br/>
            Cheers!
            <br/>
		</div>	

		<!--[if true]>
					</td>
				</tr>
			</table>
		<![endif]-->
		
    </body>
</html>